body, p, a{
	margin: 0;
	padding: 0;
}
body{
	position: fixed;
	font-family: 'Montserrat', sans-serif;
}
.background{
	margin: 0;
	width: 100%;
	height: 844px;
}
.mixbck{
	margin: 0;
	width: 100%;
	height: 844px;
	opacity: 0.4;	
}
#black{
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
}
#logo{
	position: absolute;
	top: 18.5%;
	left: 35%;
	font-weight: 700;
	color: white;
	opacity: 0.7;
}
#biglett{
	font-size: 40pt;
}
#smalllett{
	font-size: 32pt;
}
#window{
	position: absolute;
	top: 25%;
	left: 35%;
	width: 400px;
	height: 300px;
	background-color: rgba(255,255,255,0.7);
}
#google{
	width: 50px;
	height: 50px;
	position: relative;
	top: 15px;
	left: 335px;
}
.label{
	position: absolute;
	color: black;
	font-size: 14pt;
	left: 50px;
}
#label1{
	top: 74px;
	font-weight: 500;
}
#label2{
	top: 154px;
	font-weight: 500;
}
#help{
	font-size: 11pt;
	top: 212px;
	left: 211px;
	letter-spacing: 0.5pt;
}
#help:hover{
	text-decoration: underline;
}
input{
	position: absolute;
	background-color: rgba(255,255,255, 1);
	font-size: 14pt;
	color: black;
	left: 85px;
	height: 22px;
	width: 230px;
}
#login{
	top: 102px;
}
#password{
	top: 182px;
}
#button{
	position: absolute;
	top: 63%;
	left: 57%;
	color: white;
	font-size: 24pt;
}
.line{
	padding: 0;
	margin: 0;
	color: white;
	position: absolute;
	color: white;
	background-color: white;
}
#line1{
	top: 68%;
	left: 55%;
	width: 244px;
}
#button:hover{
	opacity: 0.6;
}
#button:hover~#line1{
	opacity: 0.6;
}