{% extends 'app/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/search&anview.css' %}">
{% endblock %}
{% block title %}{{ announcement }}{% endblock %}
{% block content %}
<div style="margin: 1%">
	<div class="info-block">
		<div class="info__title">{% include 'app/announcement_info.html' %}</div>
		<div class="info__price">{{ announcement.price }} грн
            {% if announcement.real_type.pk == 2 or announcement.real_type.pk == 6 %}
                / місяць
                {% elif announcement.real_type.pk == 3 %}
                / доба
            {% endif %}
        </div>
	</div>
	<div class="slider" id="slider">
		<img src="/media/{{ announcement.photo1 }}" alt="">
		<img src="/media/{{ announcement.photo2 }}" alt="">
		<img src="/media/{{ announcement.photo3 }}" alt="">
		<img src="/media/{{ announcement.photo4 }}" alt="">
		<img src="/media/{{ announcement.photo5 }}" alt="">
		<img src="/media/{{ announcement.photo6 }}" alt="">
	</div>
	<div class="slider-button slider-button-left" id="slider-button-left"></div>
	<div class="slider-button slider-button-right" id="slider-button-right"></div>
	<div class="container-apartment">
		<div class="apartment-info">
			<div class="description"><span>Від власника: </span>"{{ announcement.comment }}"</div>
			<div class="apartment-comments__title">
				<div class="rating">{{ av_rate }}</div>
				<div class="comments-number">
                    {% if feedbacks|length == 1 %}
                    1 відгук
                    {% elif feedbacks|length < 5 and feedbacks|length > 0 %}
                    {{ feedbacks|length }} відгуки
                    {% else %}
                    {{ feedbacks|length }} відгуків
                    {% endif %}
                    про цей об'єкт</div>
			</div>
			<div class="apartment-comments__content">
                {% for i in feedbacks %}
				<div class="comment">
					<div class="comment-title">
						<div class="comment-title__text">Відгук №{{ forloop.counter }} від {{ i.date }}</div>
						<div class="comment-title__rate">{{ i.rate }}</div>
					</div>
					<div class="comment-content">{{ i.text }}</div>
				</div>
                {% endfor %}
			</div>
		</div>
		<div class="booking-info">
			<div class="address-block">
				<div class="info-title" id="address">{{ announcement.district }} район<br>{{ announcement.street_type }} {{ announcement.street }} {{ announcement.home_number }},
                {{ announcement.floor }}
                    {% if announcement.real_type.pk == 4 %}
                        {% if announcement.floor == 1 %}
                            поверх
                        {% elif announcement.floor < 5 %}
                            поверхи
                        {% else %}
                            поверхів
                        {% endif %}
                    {% else %}
                        поверх
                    {% endif %}
                </div>
				<div class="info-subtitle"><span>{{ announcement.distance_to_metro }} хвилин</span> від ст.м. <span>{{ announcement.station }}</span></div>
				<div class="map" id="map"></div>
			</div>
            {% if announcement.real_type.pk == 2 or announcement.real_type.pk == 3 or announcement.real_type.pk == 6 %}
			<div class="date-block">
				<div class="info-title">Оберіть дати проживання</div>
				<div class="info-subtitle"><span id="arrive_date"></span><span id="leave_date"></span></div>
				<div class="info-subtitle">вартість на обраний період - <span id="total_price">0</span> грн</div>
				<div class="calendar-switcher">
					<div class="switcher-prev" id="prev_month"></div>
					<div class="switcher-curr" id="curr_month"></div>
					<div class="switcher-next" id="next_month"></div>
				</div>
				<div class="calendar" id="calendar">
					<div class="calendar-week"><br>Пн</div>
					<div class="calendar-week"><br>Вт</div>
					<div class="calendar-week"><br>Ср</div>
					<div class="calendar-week"><br>Чт</div>
					<div class="calendar-week"><br>Пт</div>
					<div class="calendar-week"><br>Сб</div>
					<div class="calendar-week"><br>Вс</div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
					<div class="calendar-cell"></div>
				</div>
			</div>
            {% endif %}

        {% if user != announcement.owner  %}
			<div class="price-button" id="book-button">ЗАБРОНЮВАТИ</div>
        {% else %}
            <a href="{% url 'announcement_edit' pk=announcement.pk %}" style="color: white">
            <div class="price-button" id="red-button">
                РЕДАГУВАТИ
            </div></a>
        {% endif %}
		</div>
	</div>
    <script>
        address = 'Харьков, {{ announcement.street_type }} {{ announcement.street }} {{ announcement.home_number }}';
        station = '{{ announcement.station.name }}';
        to_metro = '{{ announcement.distance_to_metro }}';
    </script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKUIe3avEN5YRDIFWe8pZ0ySPj0kRimJc&callback=initMap"></script>
	<script src="{% static 'js/slider.js' %}"></script>
	<script src="{% static 'js/map_size.js' %}"></script>
	<script src="{% static 'js/apartment.js' %}"></script>
        {% if announcement.real_type.pk == 2 or announcement.real_type.pk == 3 or announcement.real_type.pk == 6 %}
        <script>booked='{{ announcement.occupied_dates }}'</script>
        <script src="{% static 'js/calendar.js' %}"></script>
        {% endif %}
</div>
{% endblock %}