<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
<div align="center">
{{user}}
<div>
    <a href="{% url 'new_announcement' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    <h1><a href="/">DOMUM)))</a></h1>
</div>

{% block content %}
{% endblock %}

{% block pagination %}
  {% if is_paginated %}
      <div>
          <span>
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Предыдущая</a>
              {% endif %}
              <span>
                  Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Следующая</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
{% endblock %}

<hr>
<div align="center"><h3>Все права принадлежат агентству DOMUM</h3></div>
</div>
</body>
</html>