{% extends 'app/base.html' %}
{% block title %}Change password{% endblock %}
{% block content %}
    <form method="POST" id="form" action="{% url 'change_password' pk=user.pk %}">{% csrf_token %}
        {% if passworded %}
        <p>
        <label for="old">Старый пароль</label>
        <input type="password" name="old" id="old">
        </p>
        {% endif %}
        <p>
        <label for="new">Новый пароль</label>
        <input type="password" name="new" id="new">
        </p>
        <p>
        <label for="repeat">Подтвердите новый пароль</label>
        <input type="password" name="repeat" id="repeat">
        </p>
        <p>
            <a onclick="form.submit()">Сохранить</a>
        </p>
    </form>
{% endblock %}