<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile edit</title>
</head>
<body>
<div align="center">
    <form method="POST" id="form" action="{% url 'profile_edit' pk=user.pk%}">{% csrf_token %}
    <p>
        <label for="username">Логин пользователя: </label>
        <input type="text" name="username" value="{{ info.username }}" id="username">
    </p>
    <p>
        <label for="first_name">Имя: </label>
        <input type="text" name="first_name" value="{{ info.first_name }}" id="first_name">
    </p>
    <p>
        <label for="last_name">Фамилия: </label>
        <input type="text" name="last_name" value="{{ info.last_name }}" id="last_name">
    </p>
    <p>
        <label for="phone">Номер телефона: </label>
        <input type="text" name="phone" value="{{ info.phone }}" id="phone">
    </p>
    <a onclick="form.submit()">Сохранить</a>
    </form>
    <a href="{% url 'change_password' pk=user.pk %}">Хотите поменять пароль?</a>
</div>
</body>
</html>