{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{% static 'css/signin.css' %}" />
		<meta charset="UTF-8" />
		<meta name="author" content="DOMUM Team" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sign In</title>
	</head>
	<body style="background-image: url({% static 'img/back_img.png' %})">
		<div class="mixbck" id="black"></div>
			<a href="{% url 'land' %}"><p id="logo">
                <span id="biglett">DOM</span><span id="smalllett">UM</span>
            </p></a>
            <form method="post" id="form" enctype="multipart/form-data">{% csrf_token %}
			<div id="window">
                <a href="{% url 'social:begin' 'google-oauth2' %}">
                    <img src="{% static 'img/google_icon.png' %}" id="google">
                </a>

				<div class="field" id="f1">
                    <p class="label" id="label1">Ім'я</p>
					<input type="text" id="first_name" name="first_name">
				</div>

				<div class="field" id="f2">
                    <p class="label" id="label2">Прізвище</p>
					<input type="text" id="last_name" name="last_name">
				</div>

				<div class="field">
                    <p class="label" id="label3">Телефон</p>
                    <input type="text" class="phone" id="phone" name="phone">
				</div>

				<div class="field">
                    <p class="label" id="label4"><b>Ел. пошта</b></p>
					<input type="tel" name="email" id="email" required
                    onfocus="document.getElementById('label4').style.color='black'">
				</div>

				<div class="field">
                    <p class="label" id="label5"><b>Логін</b></p>
					<input type="text" name="username" id="username" required
                    onfocus="document.getElementById('label5').style.color='black'">
				</div>

				<div class="field">
                    <p class="label"id="label6"><b>Пароль</b></p>
					<input type="password" name="password1" id="password1" required
                    onfocus="document.getElementById('label6').style.color='black'">
				</div>

				<div class="field">
                    <p class="label" id="label7"><b>Ще раз пароль</b></p>
					<input type="password" name="password2" id="password2" required>
				</div>

				<div id="f3">
					<p class="label" id="label8">Ваше фото</p>
					<input type="file" name="ava" id="ava" accept="image/*">
				</div>

                <a href="{% url 'login' %}"><p class="label" id="alogin">Увійти</p></a>
				<p id="mismatch">Пароль не співпадає!</p>
                {% if email_occupied %}
				<p id="nologin">За цією адресою вже існує активований акаунт</p>
                    <script>document.getElementById('email').onfocus = () => {
                        document.getElementById('nologin').style.visibility = 'hidden';
                    };
                    </script>
                {% elif login_occupied %}
                    <p id="nologin">Цей логін вже зайнято</p>
                    <script>document.getElementById('email').onfocus = () => {
                        document.getElementById('nologin').style.visibility = 'hidden';
                    };
                    </script>
                {% endif %}

			</div>
			<a onclick="if (check()) form.submit()">
                <p id="button">Створити акаунт</p>
			<hr class="line" id="line1"></a>
            </form>
	</body>
    <script>
        {% if email_occupied or login_occupied %}
            document.getElementById('first_name').value = "{{ first_name }}";
            document.getElementById('last_name').value = "{{ last_name }}";
            document.getElementById('phone').value = "{{ phone }}";
            document.getElementById('email').value = "{{ email }}";
            document.getElementById('username').value = "{{ username }}";
            document.getElementById('password1').value = "{{ password1 }}";
            document.getElementById('password2').value = "{{ password1 }}";
        {% endif %}
        document.getElementById('password2').onfocus = () => {
                        document.getElementById('mismatch').style.visibility = 'hidden';
                        document.getElementById('label7').style.color = 'black';
                    };
    function mark(id) {
        document.getElementById(id).style.color = 'red';
    }
    function check() {
        var result = true;
        var re = /\S+@\S+\.\S+/;
        if (!re.test(document.getElementById('email').value) || document.getElementById('email').value == '') {
            mark('label4'); result = false;
        }
        if (document.getElementById('username').value == '') {
            mark('label5'); result = false;
        }
        if (document.getElementById('password1').value == '') {
            mark('label6'); result = false;
        }
        if (document.getElementById('password2').value == '') {
            mark('label7'); result = false;
        }
        if (result && document.getElementById('password1').value !=
			document.getElementById('password2').value) {
            document.getElementById('mismatch').style.visibility = 'visible';
            result = false;
        }
        return result;
    }
    </script>
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script>$(".phone").mask("+38(999)999-99-99");</script>
</html>