{% block sale_ap %}
<div class="cards-item">
    <p class="cards-item__title">
                        {{ announcement.street_type }} {{ announcement.street }}, {{ announcement.home_number }}
    </p>
    <div class="cards-item__img">
        <img width="100%" src="/media/{{ announcement.photo1 }}" alt="">
    </div>
    <div class="cards-item__text">{{ announcement.comment }}</div>
    <div class="cards-item__rate">{{ announcement.form_rate }}</div>
    <div class="cards-item__price">{{ announcement.price }} грн
        {% if announcement.real_type.pk == 2 or announcement.real_type.pk == 6 %}
            / місяць
        {% elif announcement.real_type.pk == 3 %}
            / доба
        {% endif %}
    </div>
</div>
{% endblock %}