{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="{% static 'css/search&anview.css' %}">
	<title>Home</title>
</head>
<body>
	<div class="header"></div>
	<div class="container-search">
		<form class="filters" method="POST" id="form" action="{% url 'post_list' %}">{% csrf_token %}
			<div class="filters-block">
				<div class="filters-block__title">&nbsp;Мета пошуку&nbsp;</div>
                <div class="filters-block__options">
                    <input type="radio" name="goal" id="goal1" value="0">
                    <label for="goal1">оренда житла</label>
                    <br>
                    <input type="radio" name="goal" id="goal2" value="1">
                    <label for="goal2">купівля житла</label>
                </div>
			</div>
			<div class="filters-block" id="rent_term">
				<div class="filters-block__title">&nbsp;Строк оренди&nbsp;</div>
				<div class="filters-block__options">
					<input type="radio" name="term" id="term1" value="0">
					<label for="term1">довгострокова</label>
					<br>
					<input type="radio" name="term" id="term2" value="1">
					<label for="term2">добова</label>
				</div>
			</div>
			<div class="filters-block">
				<div class="filters-block__title">&nbsp;Тип житла&nbsp;</div>
				<div class="filters-block__options">
					<input type="radio" name="type" id="type1" value="0">
					<label for="type1">квартира</label>
					<br>
					<input type="radio" name="type" id="type2" value="1">
					<label for="type2" id="type2_label">дім</label>
					<br id="house_break">
                    <input type="radio" name="type" id="type3" value="2">
					<label for="type3" id="type3_label">офіс</label>
				</div>
			</div>
			<div class="filters-block">
				<div class="filters-block__title">&nbsp;Поверх / кількість поверхів&nbsp;</div>
				<div class="filters-block__options">
					<input type="checkbox" name="floor" id="floor1" value="1">
					<label for="floor1">1</label>
					<br>
					<input type="checkbox" name="floor" id="floor2" value="2">
					<label for="floor2">2</label>
					<br>
					<input type="checkbox" name="floor" id="floor3" value="3">
					<label for="floor3">3</label>
					<br>
					<input type="checkbox" name="floor" id="floor4" value="4">
					<label for="floor4">4</label>
					<br>
					<input type="checkbox" name="floor" id="floor5" value="5">
					<label for="floor5">5 і вище</label>
				</div>
			</div>
			<div class="filters-block">
				<div class="filters-block__title">&nbsp;Кількість кімнат&nbsp;</div>
				<div class="filters-block__options">
					<input type="checkbox" name="rooms_number" id="rooms_number1" value="1">
					<label for="rooms_number1">1</label>
					<br>
					<input type="checkbox" name="rooms_number" id="rooms_number2" value="2">
					<label for="rooms_number2">2</label>
					<br>
					<input type="checkbox" name="rooms_number" id="rooms_number3" value="3">
					<label for="rooms_number3">3</label>
					<br>
					<input type="checkbox" name="rooms_number" id="rooms_number4" value="4">
					<label for="rooms_number4">4</label>
					<br>
					<input type="checkbox" name="rooms_number" id="rooms_number5" value="5">
					<label for="rooms_number5">5</label>
					<br>
					<input type="checkbox" name="rooms_number" id="rooms_number6" value="6">
					<label for="rooms_number6">6 і більше</label>
				</div>
			</div>
			<div class="filters-block">
				<div class="filters-block__title">&nbsp;Житлова площа, кв.м&nbsp;</div>
				<div class="filters-block__options">
					<input type="checkbox" name="living_space" id="living_space1" value="0">
					<label for="living_space1">0 - 20</label>
					<br>
					<input type="checkbox" name="living_space" id="living_space2" value="1">
					<label for="living_space2">20 - 40</label>
					<br>
					<input type="checkbox" name="living_space" id="living_space3" value="2">
					<label for="living_space3">40 - 60</label>
					<br>
					<input type="checkbox" name="living_space" id="living_space4" value="3">
					<label for="living_space4">60 - 80</label>
					<br>
					<input type="checkbox" name="living_space" id="living_space5" value="4">
					<label for="living_space5">80 - 100</label>
					<br>
					<input type="checkbox" name="living_space" id="living_space6" value="5">
					<label for="living_space6">100 і більше</label>
				</div>
			</div>
			<div class="filters-block">
				<div class="filters-block__title">&nbsp;Рівень ремонту&nbsp;</div>
				<div class="filters-block__options">
					<input type="checkbox" name="repair_rate" id="repair_rate1" value="0">
					<label for="repair_rate1">0</label>
					<br>
					<input type="checkbox" name="repair_rate" id="repair_rate2" value="1">
					<label for="repair_rate2">1</label>
					<br>
					<input type="checkbox" name="repair_rate" id="repair_rate3" value="2">
					<label for="repair_rate3">2</label>
					<br>
					<input type="checkbox" name="repair_rate" id="repair_rate4" value="3">
					<label for="repair_rate4">3</label>
					<br>
					<input type="checkbox" name="repair_rate" id="repair_rate5" value="4">
					<label for="repair_rate5">4</label>
					<br>
					<input type="checkbox" name="repair_rate" id="repair_rate6" value="5">
					<label for="repair_rate6">5</label>
				</div>
			</div>
			<div class="filters-block" id="extra_options">
				<div class="filters-block__title">&nbsp;Додаткові параметри&nbsp;</div>
				<div class="filters-block__options">
					<input type="checkbox" name="extra_options" id="extra_options1" value="0">
					<label for="extra_options1">наявність меблів</label>
					<br>
					<input type="checkbox" name="extra_options" id="extra_options2" value="1">
					<label for="extra_options2" id="extra_options2_label">наявність гаражу</label>
				</div>
			</div>
			<div class="filters-block" id="beds_count">
				<div class="filters-block__title">&nbsp;Кількість спальних місць&nbsp;</div>
				<div class="filters-block__options">
					<input type="checkbox" name="beds_number" id="beds_number1" value="1">
					<label for="beds_number1">1</label>
					<br>
					<input type="checkbox" name="beds_number" id="beds_number2" value="2">
					<label for="beds_number2">2</label>
					<br>
					<input type="checkbox" name="beds_number" id="beds_number3" value="3">
					<label for="beds_number3">3</label>
					<br>
					<input type="checkbox" name="beds_number" id="beds_number4" value="4">
					<label for="beds_number4">4</label>
					<br>
					<input type="checkbox" name="beds_number" id="beds_number5" value="5">
					<label for="beds_number5">5</label>
					<br>
					<input type="checkbox" name="beds_number" id="beds_number6" value="6">
					<label for="beds_number6">6 і більше</label>
				</div>
			</div>
			<div class="filters-block" id="districts">
				<div class="filters-block__title">&nbsp;Район міста&nbsp;</div>
				<div class="filters-block__options">
					<input type="checkbox" name="district" id="district1"
                    value="0">
					<label for="district1">Індустріальний</label>
					<br>
					<input type="checkbox" name="district" id="district2"
                    value="1">
					<label for="district2">Київський</label>
					<br>
					<input type="checkbox" name="district" id="district3"
                    value="2">
					<label for="district3">Московський</label>
					<br>
					<input type="checkbox" name="district" id="district4"
                    value="3">
					<label for="district4">Немишлянський</label>
					<br>
					<input type="checkbox" name="district" id="district5"
                    value="4">
					<label for="district5">Новобаварський</label>
					<br>
					<input type="checkbox" name="district" id="district6"
                    value="5">
					<label for="district6">Основ'янський</label>
					<br>
					<input type="checkbox" name="district" id="district7"
                    value="6">
					<label for="district7">Слобідський</label>
					<br>
					<input type="checkbox" name="district" id="district8"
                    value="7">
					<label for="district8">Холодногірський</label>
					<br>
					<input type="checkbox" name="district" id="district9"
                    value="8">
					<label for="district9">Шевченківський</label>
				</div>
			</div>
			<div class="filters-block">
				<div class="filters-block__title">&nbsp;Відстань до метро&nbsp;</div>
				<div class="filters-block__options">
					<input type="checkbox" name="minutes_to_metro" id="minutes_to_metro1" value="1">
					<label for="minutes_to_metro1">1 хвилина</label>
					<br>
					<input type="checkbox" name="minutes_to_metro" id="minutes_to_metro2" value="3">
					<label for="minutes_to_metro2">3 хвилини</label>
					<br>
					<input type="checkbox" name="minutes_to_metro" id="minutes_to_metro3" value="5">
					<label for="minutes_to_metro3">5 хвилин</label>
					<br>
					<input type="checkbox" name="minutes_to_metro" id="minutes_to_metro4" value="10">
					<label for="minutes_to_metro4">10 хвилин</label>
					<br>
					<input type="checkbox" name="minutes_to_metro" id="minutes_to_metro5" value="20">
					<label for="minutes_to_metro5">20 хвилин</label>
					<br>
					<input type="checkbox" name="minutes_to_metro" id="minutes_to_metro6" value="30">
					<label for="minutes_to_metro6">30 і більше хвилин</label>
				</div>
			</div>
			<button class="price-button submit-button" id="submit">Применить</button>
			<div class="filters-block">
				<div class="filters-block__title">&nbsp;Найближча станція метро&nbsp;</div>
				<div class="filters-block__options" id="metro_stations">

				</div>
			</div>
            <input type="hidden" name="sort_par" value="{{ sort }}">
		</form>
		<div class="cards">
            {% for announcement in announcements %}
			<a class="card" href="{% url 'announcement_view' pk=announcement.pk %}">
            {% if announcement.rent %}
            {% else %}
            {% include 'app/sale_ap_view.html' %}
            {% endif %}
			</a>
            {% endfor %}
		</div>
		<div class="price">
        <form method="post" action="{% url 'post_list' %}" id="sort_form"> {% csrf_token %}
			<div class="price-sort__title" id="select_sort_title">Сортування<span class="arrows">&darr;&uarr;</span></div>
			<div class="price-sort" id="select_sort">
                <input type="hidden" id="sort_par" value="{{ sort }}" name="sort_par">
				<a class="price-sort__option" onclick=sorting('-date')>
                    За датою {% if sort == '-date' %}✓{% endif %}
                </a>
				<a class="price-sort__option" onclick=sorting('-price')>
                    Від дорожчого {% if sort == '-price' %}✓{% endif %}
                </a>
				<a class="price-sort__option" onclick=sorting('price')>
                    Від дешевшего {% if sort == 'price' %}✓{% endif %}
                </a>
				<a class="price-sort__option" onclick=sorting('rate')>
                    За оцінкою {% if sort == 'rate' %}✓{% endif %}
                </a>
			</div>
			<div class="filters-block">
				<div class="filters-block__title">&nbsp;На яку ціну ви розраховуєте?&nbsp;</div>
				<div class="filters-block__options">
					<input type="number" class="input__number" name="supposed_price" id="supposed_price">
				</div>
			</div>
			<div class="price-button" id="suggested_price_button">ПОКАЗАТИ ПРОПОНОВАНУ ЦІНУ ЗА ОБРАНИМИ ПАРАМЕТРАМИ</div>
			<div class="price-button" id="suggested_price">850 грн/доба</div>
        </form>
		</div>
	</div>
    <script>
        srt = '{{ options }}';
        announcements_ids = "";
        {% for announcement in announcements %}
            announcements_ids += {{ announcement.id }} + " ";
        {% endfor %}
    </script>
	<script src="{% static 'js/search&anview.js' %}"></script>
    <script src="{% static 'js/button_size.js' %}"></script>
</body>
</html>